<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro exemplo com VueJs</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div id="app">
        <header>
            <div class="container">
                <nav class="navbar">
                    <a href="#" class="text-center logo">
                        <img src="assets/img/logomarca.png" alt="Ubatuba Times">
                    </a>

                    <div v-if="isLogged" key="logged">
                        <h4>Seja bem vindo {{ username }}</h4>
                        <a v-on:click.prevent="toggleLogin" class="p-2 bg-danger logout text-white" href="#">Fazer logout</a>
                    </div>
                    <a v-on:click.prevent="toggleLogin" class="p-2 bg-primary login text-white" href="#" v-else key="notLogged">Fazer login</a>
                </nav>
            </div>
        </header>  
        <section class="posts pt-4 pb-4">
            <div class="container">
                <div class="row posts"> 
                    <div class="col-4" v-for="post in posts">
                        <img class="img-fluid" :src="post.img" :alt="post.title">
                        <h2>{{post.title}}</h2>
                        <p>
                            {{post.post}}
                        </p>
                    </div>
                </div>
            </div>
        </section>  
        <footer class="p-4">
            <p class="text-center text-muted">Visite: <a target="_blank" href="https://informaticalivre.com">Informática Livre</a></p>
        </footer>    
    </div>
 
    <!-- NPM VUE -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                isLogged: false,
                username: 'Mussum Forevis',
                posts:[{
                    img: 'assets/img/mussum.jpg',
                    title: 'Mussum Ipsum 1',
                    post: `
                    Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim 
                    que vai caçá sua turmis! Casamentiss faiz malandris se pirulitá. 
                    Si num tem leite então bota uma pinga aí cumpadi! Em pé sem cair, 
                    deitado sem dormir, sentado sem cochilar e fazendo pose.
                    Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. 
                    Sed non consequat odio. Atirei o pau no gatis, per gatis num morreus. 
                    In elementis mé pra quem é amistosis quis leo. Sapien in monti 
                    palavris qui num significa nadis i pareci latim.
                    `
                },
                {
                    img: 'assets/img/mussum.jpg',
                    title: 'Mussum Ipsum 2',
                    post: `
                    Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim 
                    que vai caçá sua turmis! Casamentiss faiz malandris se pirulitá. 
                    Si num tem leite então bota uma pinga aí cumpadi! Em pé sem cair, 
                    deitado sem dormir, sentado sem cochilar e fazendo pose.
                    Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. 
                    Sed non consequat odio. Atirei o pau no gatis, per gatis num morreus. 
                    In elementis mé pra quem é amistosis quis leo. Sapien in monti 
                    palavris qui num significa nadis i pareci latim.
                    `
                },
                {
                    img: 'assets/img/mussum.jpg',
                    title: 'Mussum Ipsum 3',
                    post: `
                    Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim 
                    que vai caçá sua turmis! Casamentiss faiz malandris se pirulitá. 
                    Si num tem leite então bota uma pinga aí cumpadi! Em pé sem cair, 
                    deitado sem dormir, sentado sem cochilar e fazendo pose.
                    Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. 
                    Sed non consequat odio. Atirei o pau no gatis, per gatis num morreus. 
                    In elementis mé pra quem é amistosis quis leo. Sapien in monti 
                    palavris qui num significa nadis i pareci latim.
                    `
                }]
            },
            methods:{
                toggleLogin: function(){
                    this.isLogged = !this.isLogged;
                }
            }
        })
    </script>
</body>
</html>